<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- Requires Internet Connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travelista"
        tools:targetApi="31" >

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxWZL3kSx-v4cTqkZVadjso6cfuZDyTOw" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Travelista" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationPage"
            android:exported="false"
            android:label="Register"
            android:theme="@style/Theme.Travelista" />
        <activity
            android:name=".LoginPage"
            android:exported="false"
            android:label="Login"
            android:theme="@style/Theme.Travelista" />
        <activity
            android:name=".MapPage"
            android:exported="false"
            android:label="Travelista"
            android:theme="@style/Theme.Travelista" />
        <activity
            android:name=".GoToPlacesPage"
            android:exported="false"
            android:theme="@style/Theme.Travelista" />
        <activity
            android:name=".DirectionsPage"
            android:exported="false"
            android:label="Directions"
            android:theme="@style/Theme.Travelista" />
    </application>

</manifest>